In [1]:
# special IPython command to prepare the notebook for matplotlib
%matplotlib inline 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
data = pd.read_csv('JobData.csv',header = None)
data = pd.DataFrame(data)
data

               0    1          2          3          4          5       6
0   software eng  Des  Full TIME     Junior         IT     Lahore  google
1   software eng  Des  Full TIME     Junior         IT     Lahore  google
2   software eng  Des  Full TIME     Junior         IT     Lahore  google
3   software eng  Des  Full TIME     Junior         IT     Lahore  google
4   software eng  Des  Full TIME     Junior         IT     Lahore  google
5   software eng  Des  Full TIME     Junior         IT     Lahore  google
6   software eng  Des  Full TIME     Junior  Marketing     Lahore  google
7   software eng  Des  Full TIME     Junior  Marketing    Karachi  google
8   software eng  Des  Full TIME     Junior  Marketing    Karachi  google
9   software eng  Des  Full TIME  Mid Level  Marketing    Karachi  google
10           SQA  Des  Full TIME  Mid Level  Marketing    Karachi  google
11           SQA  Des  Full TIME  Mid Level  Marketing    Karachi     IBM
12           SQA  Des  Full TIME  Mid Level  Marketing    Karachi     IBM
13           SQA  Des  Full TIME  Mid Level  Marketing  Islamabad     IBM
14           SQA  Des  Full TIME     Senior  Marketing  Islamabad     IBM
15       Manager  Des  Full TIME     Senior         HR  Islamabad     IBM
16       Manager  Des  Full TIME     Senior         HR  Islamabad     IBM
17       Manager  Des  Full TIME     Senior         HR  Islamabad     IBM
18       Manager  Des  Full TIME     Senior         HR  Islamabad     IBM
19       Manager  Des  Full TIME     Senior         HR  Islamabad     IBM

In [41]:
data.columns = ['Job_Title','Pos','Duration',
                     'Level','Feild','City','Company']

data1  = pd.DataFrame(data)



data1.Job_Title.value_counts()
data1

       Job_Title  Pos   Duration      Level      Feild       City Company
0   software eng  Des  Full TIME     Junior         IT     Lahore  google
1   software eng  Des  Full TIME     Junior         IT     Lahore  google
2   software eng  Des  Full TIME     Junior         IT     Lahore  google
3   software eng  Des  Full TIME     Junior         IT     Lahore  google
4   software eng  Des  Full TIME     Junior         IT     Lahore  google
5   software eng  Des  Full TIME     Junior         IT     Lahore  google
6   software eng  Des  Full TIME     Junior  Marketing     Lahore  google
7   software eng  Des  Full TIME     Junior  Marketing    Karachi  google
8   software eng  Des  Full TIME     Junior  Marketing    Karachi  google
9   software eng  Des  Full TIME  Mid Level  Marketing    Karachi  google
10           SQA  Des  Full TIME  Mid Level  Marketing    Karachi  google
11           SQA  Des  Full TIME  Mid Level  Marketing    Karachi     IBM
12           SQA  Des  Full TIME  Mid Level  Marketing    Karachi     IBM
13           SQA  Des  Full TIME  Mid Level  Marketing  Islamabad     IBM
14           SQA  Des  Full TIME     Senior  Marketing  Islamabad     IBM
15       Manager  Des  Full TIME     Senior         HR  Islamabad     IBM
16       Manager  Des  Full TIME     Senior         HR  Islamabad     IBM
17       Manager  Des  Full TIME     Senior         HR  Islamabad     IBM
18       Manager  Des  Full TIME     Senior         HR  Islamabad     IBM
19       Manager  Des  Full TIME     Senior         HR  Islamabad     IBM

In [44]:

pd.crosstab(data1.Job_Title, data1.City)

City          Islamabad  Karachi  Lahore
Job_Title
Manager               5        0       0
SQA                   2        3       0
software eng          0        3       7